* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer !important;
}

/* NAVBAR */
.z-indexx {
    z-index: 1000;
}

.searchbar {
    max-width: 500px;
    width: 35%;
    min-width: 250px;
}

.right-side {
    width: 250px;
}

.left-nav {
    width: 281px;
    min-height: 100vh;
}

/* SIGN FORMS */
.mb-7 {
    margin-bottom: 7.5rem;
}

.sign-box {
    margin-top: 100px;
    width: 25vw;
    max-width: 400px;
    min-width: 260px;
}

.sign-bottom-link {
    width: 25vw;
    max-width: 400px;
    min-width: 260px;
}

/* FOOTER */
.footer {
    width:100vw;
    box-shadow: rgba(0, 0, 0, 0.12) 0px -1px 3px, rgba(0, 0, 0, 0.15) 0px 1px 2px;
    z-index: -1;
}

.footer-link {
    transition: .5s;
    cursor: pointer;
}

.footer-link:hover {
    text-decoration: underline !important;
}

/* SIDEBAR */
.sidebar {
    min-height: 70vh;
    z-index: -100;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-link {
    font-weight: 600;
    transition: .2s;
}

.sidebar-link:hover {
    color: #0D6EFD !important;
}

.sidebar-link:hover .sidebar-arrow {
    visibility: visible;
}

.sidebar-text {
    color: inherit
}

.sidebar-arrow {
    color: inherit;
    visibility: hidden;
}

.sidebar-active {
    color: #0D6EFD !important;
    visibility: visible;
}

.link {
    transition: .2s;
}

.link:hover {
    text-decoration: underline !important;
    color: #0D6EFD !important;
}

/* PROFILE */
.levelbar {
    max-width: 500px;
}

.avatar {
    font-size: 6rem !important;
}

/* ENTRY */
textarea {
    overflow: auto;
    resize: none;
    height: 200px;
    max-height: 200px;
}

/* PAGINATION */
.active {
    color: #fff !important;
}

.pagination {
    z-index: -1 !important;
}

/* ADMIN PANEL */
.edit-input{
	outline:none;
	border:none;
}

/* RESPONSIVE */
@media screen and (max-width:558px) {
    .navbar-logo{
        width:100% !important;
        text-align: center !important;
    }

    .searchbar{
        width:100% !important;
    }
}

@media screen and (max-width:990px) {
    .right-side {
        margin: auto;
    }
}